<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,56}</string>
                <key>spriteSourceSize</key>
                <string>{97,56}</string>
                <key>textureRect</key>
                <string>{{125,1},{97,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chicken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-9}</string>
                <key>spriteSize</key>
                <string>{122,116}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{122,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,63}</string>
                <key>spriteSourceSize</key>
                <string>{103,63}</string>
                <key>textureRect</key>
                <string>{{77,133},{103,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tomato.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,77}</string>
                <key>spriteSourceSize</key>
                <string>{72,77}</string>
                <key>textureRect</key>
                <string>{{125,59},{72,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,78}</string>
                <key>spriteSourceSize</key>
                <string>{74,78}</string>
                <key>textureRect</key>
                <string>{{1,119},{74,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>giftshow.png</string>
            <key>size</key>
            <string>{223,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a154d1c5f0fd2859186ca6ea42a36a04:2aa622b0551b4467c4c5e91eb910fc34:c7450b6121955dd3a4ccaac84efb8fbb$</string>
            <key>textureFileName</key>
            <string>giftshow.png</string>
        </dict>
    </dict>
</plist>
