<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tomato_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,39}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{180,246}</string>
                <key>textureRect</key>
                <string>{{575,349},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tomato_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,22}</string>
                <key>spriteSize</key>
                <string>{158,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,246}</string>
                <key>textureRect</key>
                <string>{{481,1},{158,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tomato_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,17}</string>
                <key>spriteSize</key>
                <string>{158,190}</string>
                <key>spriteSourceSize</key>
                <string>{180,246}</string>
                <key>textureRect</key>
                <string>{{321,203},{158,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tomato_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,11}</string>
                <key>spriteSize</key>
                <string>{158,200}</string>
                <key>spriteSourceSize</key>
                <string>{180,246}</string>
                <key>textureRect</key>
                <string>{{321,1},{158,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tomato_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,10}</string>
                <key>spriteSize</key>
                <string>{158,204}</string>
                <key>spriteSourceSize</key>
                <string>{180,246}</string>
                <key>textureRect</key>
                <string>{{161,209},{158,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tomato_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{158,206}</string>
                <key>spriteSourceSize</key>
                <string>{180,246}</string>
                <key>textureRect</key>
                <string>{{161,1},{158,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tomato_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,7}</string>
                <key>spriteSize</key>
                <string>{158,208}</string>
                <key>spriteSourceSize</key>
                <string>{180,246}</string>
                <key>textureRect</key>
                <string>{{1,215},{158,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tomato_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{158,212}</string>
                <key>spriteSourceSize</key>
                <string>{180,246}</string>
                <key>textureRect</key>
                <string>{{1,1},{158,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tomato_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,36}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{180,246}</string>
                <key>textureRect</key>
                <string>{{481,349},{98,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tomato_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,36}</string>
                <key>spriteSize</key>
                <string>{128,122}</string>
                <key>spriteSourceSize</key>
                <string>{180,246}</string>
                <key>textureRect</key>
                <string>{{665,313},{128,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tomato_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,36}</string>
                <key>spriteSize</key>
                <string>{158,150}</string>
                <key>spriteSourceSize</key>
                <string>{180,246}</string>
                <key>textureRect</key>
                <string>{{641,1},{158,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tomato_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,36}</string>
                <key>spriteSize</key>
                <string>{158,150}</string>
                <key>spriteSourceSize</key>
                <string>{180,246}</string>
                <key>textureRect</key>
                <string>{{641,153},{158,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tomato_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,36}</string>
                <key>spriteSize</key>
                <string>{158,150}</string>
                <key>spriteSourceSize</key>
                <string>{180,246}</string>
                <key>textureRect</key>
                <string>{{793,153},{158,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tomato_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,36}</string>
                <key>spriteSize</key>
                <string>{158,150}</string>
                <key>spriteSourceSize</key>
                <string>{180,246}</string>
                <key>textureRect</key>
                <string>{{801,1},{158,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tomato_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,36}</string>
                <key>spriteSize</key>
                <string>{158,150}</string>
                <key>spriteSourceSize</key>
                <string>{180,246}</string>
                <key>textureRect</key>
                <string>{{793,305},{158,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tomato_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,29}</string>
                <key>spriteSize</key>
                <string>{158,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,246}</string>
                <key>textureRect</key>
                <string>{{481,183},{158,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tomato_p.png</string>
            <key>size</key>
            <string>{960,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9124f275d25045bce01b11ef4c11204e:159271d0e29358c2f6736364a5f8d153:b7bbccd553af9f54aa57ff36979a7dec$</string>
            <key>textureFileName</key>
            <string>tomato_p.png</string>
        </dict>
    </dict>
</plist>
