<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,175}</string>
                <key>spriteSourceSize</key>
                <string>{129,175}</string>
                <key>textureRect</key>
                <string>{{0,0},{129,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,175}</string>
                <key>spriteSourceSize</key>
                <string>{129,175}</string>
                <key>textureRect</key>
                <string>{{129,0},{129,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,175}</string>
                <key>spriteSourceSize</key>
                <string>{129,175}</string>
                <key>textureRect</key>
                <string>{{258,0},{129,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,175}</string>
                <key>spriteSourceSize</key>
                <string>{129,175}</string>
                <key>textureRect</key>
                <string>{{387,0},{129,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{516,0},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{646,0},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1816,0},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{0,175},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{130,175},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{260,175},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{390,175},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{520,175},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{650,175},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{780,175},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{910,175},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1040,175},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{776,0},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1170,175},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1300,175},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1430,175},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1560,175},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1690,175},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1820,175},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{0,348},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{130,348},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{260,348},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{390,348},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{906,0},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{520,348},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{650,348},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{780,348},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{910,348},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1040,348},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1170,348},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1300,348},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1430,348},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1560,348},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1690,348},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1036,0},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1820,348},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{0,521},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{130,521},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{260,521},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{390,521},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{520,521},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{650,521},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{780,521},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{910,521},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1040,521},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1166,0},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1170,521},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1300,521},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1430,521},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1560,521},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1296,0},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1426,0},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1556,0},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,173}</string>
                <key>spriteSourceSize</key>
                <string>{130,173}</string>
                <key>textureRect</key>
                <string>{{1686,0},{130,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1950,694}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba481ebab2e6c518d39c0f7afbce4346:a9e3d48a8c4e8ad6665c867393bb3938:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
